<p class="mb-5">
  Found <%= pluralize(@dogs.count, 'dog') %> when searching for: <%= params[:keywords] %>
</p>
<div class="columns is multiline">
  <% @dogs.each do |dog| %>
  <div class="column is-one-quarter">
    <div>
      <%= image_tag(dog.image, alt: "#{dog.name} Image", size: '300x200') %>
    </div>
    <div>
      <%= link_to "#{dog.name}", dog %>
    </div>
  </div>
  <% end %>
</div>