<% content_for(:html_title) {"Groups"}%>
<p>All Groups</p>
<br>
<div class="columns is-multiline">
  <% @groups.each do |group| %>
  <div class="column is-one-quarter">
    <div>
      <%= link_to "#{group.name}", group %>
    </div>
  </div>
  <% end %>
</div>
