<% content_for(:html_title) {"Countries"}%>
<h2>Countries</h2>
<br>
<div class="columns is-multiline">
  <% @countries.each do |country| %>
  <div class="column is-one-quarter">
    <div>
      <%= link_to "#{country.name}", country %>
    </div>
  </div>
  <% end %>
</div>
