<% content_for(:html_title) {"About this Project"}%>
<br>
<p>This website is rails intro project for Full Stack Web Development course at Red River College.</p>
<br>
<p>The data used for this website is a mix of real and made-up data for the dog breeds.</p>
<p>The details like name, group, section, country, URL, image, and PDF are gathered from this <a href="https://github.com/paiv/fci-breeds/blob/main/fci-breeds.csv">data source,</a></p>
<p>while additional information like sound, age, meme phrase, size, and coat length is created using a tool called Faker. </p>
<p>The data is split into different tables: <b>dog breeds</b>, <b>countries</b>, <b>groups</b>, and <b>sections</b>.</p>
<br>
<p>This is an ERD (Entity Relationship Diagram) of the database used for this website.</p>
<%= image_tag("ERD.drawio.png", :alt => "ERD Diagram for the database", :size => "500x400")%>